= error_messages_for @scheduled_action 
.form-group
  = f.label :name, class: 'col-md-2 control-label'
  .col-md-10
    = f.text_field :name, class: 'form-control', autofocus: true
    %p.help-block The name of this scaling action.
.form-group
  = f.label :group, class: 'col-md-2 control-label'
  .col-md-10
    = f.select(:group, options: groups_for_select, class: 'form-control')
    %p.help-block The name of the Auto Scaling group.
.form-group
  .col-md-offset-2.col-md-10.col-sm-12
    .row
      .col-sm-4
        .form-inline
          = f.label :min
          = f.text_field :min_size, class: 'form-control', type: "number"
      .col-sm-4
        .form-inline
          = f.label :desired_capacity, caption: "Desired"
          = f.text_field :desired_capacity, class: 'form-control', type: "number"
      .col-sm-4
        .form-inline
          = f.label :max
          = f.text_field :max_size, class: 'form-control', type: "number"
    .row
      .col-sm-12
        %p.help-block The number of Amazon EC2 instances that should be running in the group.
.form-group
  = f.label :start_time, class: 'col-md-2 control-label'
  .col-md-10
    %input{type: 'datetime', name: 'scheduled_action[start_time]',value: @scheduled_action.start_time, class: 'form-control time'}
    %p.help-block The time for this action to start.
